.primary {
  color: var(--text-primary);
}

.primary-error {
  color: var(--text-primary-error);
}

.primary-success {
  color: var(--text-primary-success);
}

.primary-warning {
  color: var(--text-primary-warning);
}

.primary-brand {
  color: var(--text-primary-brand);
}

.primary-inverse {
  color: var(--text-primary-inverse);
}

.secondary {
  color: var(--text-secondary);
}

.secondary-error {
  color: var(--text-secondary-error);
}

.secondary-success {
  color: var(--text-secondary-success);
}

.secondary-warning {
  color: var(--text-secondary-warning);
}

.secondary-brand {
  color: var(--text-secondary-brand);
}
