.menuItem {
  color: rgba(0, 0, 0, 0.5);

  display: block;
  padding: 0.5rem 1rem;

  padding-right: 0.5rem;
  padding-left: 0.5rem;

  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;

  transition: color 0.1s ease-in-out;

  &--active {
    color: rgba(0, 0, 0, 0.9);
  }

  @include hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
