.button {
  $self: &;
  @include flex(flex, row, center, center);
  padding: var(--button-padding);
  height: var(--button-height);
  background: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  outline: 0;
  border-radius: 10px;
  border-width: 0px;
  text-decoration: none;

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  transition-timing-function: ease;

  @include hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-color);
    border-color: var(--button-hover-border-color);
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    background: var(--button-active-bg);
    border-color: var(--button-active-border-color);
    color: var(--button-active-color);
    box-shadow: none;
  }

  &:disabled {
    background: var(--button-disabled-bg);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-color);
    cursor: not-allowed;
    user-select: none;
    box-shadow: none;
  }

  &--variant {
    // голубая
    &-primary {
      --button-bg: #{$button-primary-default-bg};
      --button-color: #{$button-primary-default-color};
      --button-border-color: #{$button-primary-default-border};

      --button-hover-bg: #{$button-primary-hover-bg};
      --button-hover-color: #{$button-primary-hover-color};
      --button-hover-border-color: #{$button-primary-hover-border};

      --button-active-bg: #{$button-primary-active-bg};
      --button-active-color: #{$button-primary-active-color};
      --button-active-border-color: #{$button-primary-active-border};

      --button-focus-bg: #{$button-primary-focus-bg};
      --button-focus-color: #{$button-primary-focus-color};
      --button-focus-border: #{$button-primary-focus-border};

      --button-disabled-bg: #{$button-primary-active-border};
      --button-disabled-color: #{$button-primary-active-border};
      --button-disabled-border-color: #{$button-primary-active-border};
    }
    //черная
    &-primary-dark {
      --button-bg: #{$button-primary-dark-default-bg};
      --button-color: #{$button-primary-dark-default-color};
      --button-border-color: #{$button-primary-dark-default-border};

      --button-hover-bg: #{$button-primary-dark-hover-bg};
      --button-hover-color: #{$button-primary-dark-hover-color};
      --button-hover-border-color: #{$button-primary-dark-hover-border};

      --button-active-bg: #{$button-primary-dark-active-bg};
      --button-active-color: #{$button-primary-dark-active-color};
      --button-active-border-color: #{$button-primary-dark-active-border};

      --button-focus-bg: #{$button-primary-dark-focus-bg};
      --button-focus-color: #{$button-primary-dark-focus-color};
      --button-focus-border: #{$button-primary-dark-focus-border};

      --button-disabled-bg: #{$button-primary-dark-active-border};
      --button-disabled-color: #{$button-primary-dark-active-border};
      --button-disabled-border-color: #{$button-primary-dark-active-border};
    }
    // белая
    &-primary-inverse {
      --button-bg: #{$button-primary-inverse-default-bg};
      --button-color: #{$button-primary-inverse-default-color};
      --button-border-color: #{$button-primary-inverse-default-border};

      --button-hover-bg: #{$button-primary-inverse-hover-bg};
      --button-hover-color: #{$button-primary-inverse-hover-color};
      --button-hover-border-color: #{$button-primary-inverse-hover-border};

      --button-active-bg: #{$button-primary-inverse-active-bg};
      --button-active-color: #{$button-primary-inverse-active-color};
      --button-active-border-color: #{$button-primary-inverse-active-border};

      --button-focus-bg: #{$button-primary-inverse-focus-bg};
      --button-focus-color: #{$button-primary-inverse-focus-color};
      --button-focus-border: #{$button-primary-inverse-focus-border};

      --button-disabled-bg: #{$button-primary-inverse-active-border};
      --button-disabled-color: #{$button-primary-inverse-active-border};
      --button-disabled-border-color: #{$button-primary-inverse-active-border};
    }
  }

  &--size {
    &-large {
      --button-padding: 12px 32px;
      --button-height: 52px;
    }
    &-medium {
      --button-padding: 10px;
      --button-height: 44px;
    }
    &-small {
      --button-padding: 10px;
      --button-height: 40px;
    }
  }
}

.diffTime {
  font-weight: bold !important;
  font-size: 40px !important;
}
