.section {
  display: flex;

  justify-content: center;
  position: relative;

  background-color: var(--color-white);
}

.wrapper {
  width: 100%;

  @include media(1439px) {
    max-width: 100%;
  }

  @include media(990px) {
    padding: 0 12px;
  }

  @include mobile {
    padding: 0 16px;
  }
}
