@use 'sass:meta';
@use 'sass:string';
@use 'sass:map';

// Функция для расчета скейла
@function scale-value($value, $enable-scale: true) {
  // Если масштабирование отключено, возвращаем исходное значение
  @if not $enable-scale {
    @return $value;
  }

  // Пропускаем специальные значения
  @if $value == 'none' or $value == 'auto' or $value == null or string.index(#{$value}, ' ') {
    @return $value;
  }

  @if meta.type-of($value) == 'number' {
    // Числовые значения: 16px, 1.2, 0.5em и т.д.
    @return calc(#{$value} * var(--injected-font-scale, 1));
  } @else if string.slice(#{$value}, 1, 4) == 'calc' {
    // Уже содержит calc()
    @return calc(#{$value} * var(--injected-font-scale, 1));
  } @else if string.slice(#{$value}, 1, 4) == 'var(' {
    // Уже полная CSS-переменная var(--token)
    @return calc(#{$value} * var(--injected-font-scale, 1));
  } @else {
    @error "Must be var(), calc() or numeric values";
  }
}
