@use 'colors-vars';
@use 'motion';
@use 'typography-tokens';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;

  -webkit-touch-callout: none; /* iOS long-press menu */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge/IE */
  user-select: none;
}

body {
  background-color: #f5f5f7;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: flex;
  flex-flow: column;
  // min-height: calc(var(--vh, 1vh) * 100);

  @include scrollbarPage();
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.global-container {
  width: 100%;
  flex-grow: 1;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  font-family: var(--font-family);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 8px;
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar-thumb {
  -webkit-overflow-scrolling: touch;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
