.divider {
  position: relative;
  bottom: -1rem;
  @include flex(flex, row, center, center);
  width: 100%;
  height: 0;
  background-color: var(--color-white);

  &__line {
    width: 90%;
    height: 1px;
    border: 1;
    border-color: var(--color-black);
    background-color: var(--color-black);
  }

  &--align-left {
    justify-content: flex-start;
  }

  &--align-right {
    justify-content: flex-end;
  }
}
