.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 999px;

  &.error {
    .checkmark {
      border-color: var(--color-error);
    }

    .label {
      color: var(--color-error);
    }
  }

  &:focus {
    .checkmark {
      box-shadow: 0 0 0 6px var(--color-box-shadow-focus);
    }
  }

  &:focus-visible {
    .checkmark {
      box-shadow: 0 0 0 6px var(--color-box-shadow-focus);
    }
  }

  @include hover {
    .checkmark {
      box-shadow: 0 0 0 6px var(--color-box-shadow-hover);
    }
  }
}

.input {
  display: none;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-checkbox-border);
  border-radius: 3px;
  background: white;
  color: white;
  transition: all 0.2s ease;
  flex-shrink: 0;
  margin-top: 2px;

  .input:checked + & {
    background: var(--color-checkbox-checked);
    border-color: var(--color-checkbox-checked);
  }

  &:focus {
    box-shadow: 0 0 0 12px rgba(var(--color-focus), 0.2);
  }

  &:focus-visible {
    box-shadow: 0 0 0 12px rgba(var(--color-focus), 0.2);
  }

  &:hover {
    box-shadow: 0 0 0 12px rgba(var(--color-focus), 0.2);
  }
}

.label {
  position: relative;
  color: var(--color-text-secondary);

  a {
    color: var(--color-text-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--required::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -8px;
    color: var(--color-error);
  }
}
